body {
    color: white;
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#bg-1 {
    background-image: url("images/bg-1.png");
}
#bg-2 {
    background-image: url("images/bg-2.png");
}
#bg-3 {
    background-image: url("images/bg-3.png");
}
#bg-4 {
    background-image: url("images/bg-4.png");
}
#bg-5 {
    background-image: url("images/bg-5.png");
}
#bg-6 {
    background-image: url("images/bg-6.png");
}
#bg-7 {
    background-image: url("images/bg-7.png");
}
#bg-8 {
    background-image: url("images/bg-8.png");
}
#bg-9 {
    background-image: url("images/bg-9.png");
}

h1 {
    font-size: xx-large;
    margin-top: 50px;
}

p {
    background-color: transparent;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #dedede}

.button:active {
  background-color: #999;
  box-shadow: 0 9px #999;
  transform: translateY(4px);
}

#madeBy {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: large;
}

a {
    color: white;
}